
i {
    color: rgb(13, 156, 56);
    font-family: 'Bungee Shade', cursive;
}

.text-center {
    color: brown;
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
}

body {
    background: url(https://wallpapercave.com/wp/apRXQtN.jpg);
    background-repeat: repeat;
}