
i {

    color: rgb(13, 156, 56);
	font-family: 'Bungee Shade', cursive;
	
}

.header {
	position: absolute;
	z-index: 5;
}

label {
    font-family: 'Bungee Hairline', cursive;
    color: rgb(13, 156, 56);
    font-size: large;
}

.text-center {
    color: brown;
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
}
.adjustWidth{
	width: 100%;
}
.pushDown{
	margin-top:5%;
}

@media only screen and (max-width: 400px) {
	.pushDown{
		margin-top:30%;
	}
  }

img {
    height: 250px;
    width: 250px;
}

.instructions {
	font-weight: bolder;
	text-decoration: underline;
}

